folder/Conectar n8n a Monday.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-15T18:18:34.676Z",
  "id": "XI2RxFpJGeazIhgz",
  "isArchived": false,
  "meta": null,
  "name": "Conectar n8n a Monday",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "be53ddff-95c1-4f7e-a976-c3cc9cee1ea3",
              "leftValue": "={{ $json.body.challenge }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        80,
        -64
      ],
      "id": "0142ceae-3586-4c77-a80a-b7eea8ce202d",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"challenge\": \"{{ $json.body.challenge }}\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        400,
        -144
      ],
      "id": "48a6a392-93ee-4ba2-8644-40e8e5348aad",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "monday-mailchimp-upsert",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -144,
        -64
      ],
      "id": "1876eefe-871b-45b7-b4ec-a3ec774884c2",
      "name": "Webhook",
      "webhookId": "ec0421b7-7ba3-4e6e-93dd-bce69fd97e2f"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-12-15T18:18:34.678Z",
      "createdAt": "2025-12-15T18:18:34.678Z",
      "role": "workflow:owner",
      "workflowId": "XI2RxFpJGeazIhgz",
      "projectId": "K3qTwdhfsN7M0hmd"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-15T19:21:40.280Z",
  "versionId": "dd67f14d-e913-441e-b4df-6bfdcbb6ec35"
}