folder/Eliminar workflows archivados.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Obtener todos los workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener todos los workflows": {
      "main": [
        [
          {
            "node": "Filtrar archivados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar archivados": {
      "main": [
        [
          {
            "node": "Borrar Workflows archivados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Borrar Workflows archivados": {
      "main": [
        [
          {
            "node": "Resumen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-15T19:21:49.639Z",
  "id": "oTuPGPObe638hQIf",
  "isArchived": false,
  "meta": null,
  "name": "Eliminar workflows archivados",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        16,
        -48
      ],
      "id": "45a5f14b-a975-40cd-8284-31fa63074f9b",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "=https://valtmx-n8n.z5cvat.easypanel.host/api/v1/workflows",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        272,
        -48
      ],
      "id": "6b183139-7332-493f-b04a-edd9d8dfd2d8",
      "name": "Obtener todos los workflows",
      "notesInFlow": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "ZqPO2RxBc40cswQO",
          "name": "n8n APIKey - Valtmx"
        }
      },
      "onError": "continueRegularOutput",
      "notes": "Agregar api key de n8n como Header Auth"
    },
    {
      "parameters": {
        "jsCode": "// Detecta si la respuesta viene como array o con propiedad data\nconst all = Array.isArray($json) ? $json : $json.data || [];\n\n// En tu versión, el campo correcto es isArchived\nconst archivados = all.filter(w => w.isArchived === true);\n\nif (archivados.length === 0) {\n  return [{ json: { mensaje: \"No hay workflows archivados (isArchived=true) para eliminar.\" } }];\n}\n\n// Devuelve solo los archivados para eliminarlos\nreturn archivados.map(a => ({\n  json: {\n    id: a.id,\n    name: a.name,\n    isArchived: a.isArchived,\n    active: a.active\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        -48
      ],
      "id": "d8113330-b8ae-45ae-9e45-377c4274853e",
      "name": "Filtrar archivados"
    },
    {
      "parameters": {
        "jsCode": "const total = $items().length;\nreturn [{ json: { totalEliminados: total, mensaje: `Se eliminaron ${total} workflows archivados de n8n.` } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        -48
      ],
      "id": "46fae30e-5d34-495a-8444-8687bb69447e",
      "name": "Resumen"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://valtmx-n8n.z5cvat.easypanel.host/api/v1/workflows/{{$json.id}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        704,
        -48
      ],
      "id": "0ad31975-e286-4d67-a9c3-3d8c1b9a75ee",
      "name": "Borrar Workflows archivados",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ZqPO2RxBc40cswQO",
          "name": "n8n APIKey - Valtmx"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-12-15T19:21:49.644Z",
      "createdAt": "2025-12-15T19:21:49.644Z",
      "role": "workflow:owner",
      "workflowId": "oTuPGPObe638hQIf",
      "projectId": "K3qTwdhfsN7M0hmd"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-15T19:24:51.691Z",
  "versionId": "5d30b294-1c71-4ed8-b1fd-a40dd8e48e62"
}