folder/Transcripción con Whisper + OpenAI.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2025-12-15T19:06:48.000Z",
    "createdAt": "2025-12-15T19:06:47.219Z",
    "versionId": "8a3fffb1-2171-417e-babc-1f458466424a",
    "workflowId": "v0GixVEVkl0mIt1U",
    "nodes": [
      {
        "parameters": {
          "public": true,
          "initialMessages": "Porfavor. Adjunta tu audio para transcribirlo ",
          "options": {
            "allowFileUploads": true,
            "allowedFilesMimeTypes": ".mp3, m4a, .wav, .ogg",
            "subtitle": "Estoy aqu铆 para ayudarte a realizar transcripci贸nes de audio ",
            "title": "Hola que tal! ",
            "responseMode": "responseNodes"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.chatTrigger",
        "typeVersion": 1.3,
        "position": [
          0,
          0
        ],
        "id": "40a2f264-e7c9-4f7e-87a9-fc5fd673e01e",
        "name": "Primera interacci贸n",
        "webhookId": "1ae1f24f-5bb0-4699-a059-c7afca7715cc"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://195.35.8.205:5000/transcribe",
          "sendBody": true,
          "contentType": "multipart-form-data",
          "bodyParameters": {
            "parameters": [
              {
                "parameterType": "formBinaryData",
                "name": "file",
                "inputDataFieldName": "={{ Object.keys($binary)[0] }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          656,
          16
        ],
        "id": "3c5d4ad4-3dfe-4afc-9fe3-289dfb03a125",
        "name": "Conexi贸n con Whisper.py"
      },
      {
        "parameters": {
          "message": "={{ $json.output }}",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.chat",
        "typeVersion": 1,
        "position": [
          1248,
          16
        ],
        "id": "9ac67f2e-baed-4c48-b3e4-9cc9b89a48c6",
        "name": "Responder interacci贸n"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "gpt-4o-mini",
            "mode": "list",
            "cachedResultName": "gpt-4o-mini"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          800,
          240
        ],
        "id": "a2b22a33-b18a-409c-96e5-50bcabaec8cf",
        "name": "OpenAI Chat Model",
        "credentials": {
          "openAiApi": {
            "id": "OwpXfy2xZXTL4IFI",
            "name": "OpenAi account - soporte@valtmx.com"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json[\"text\"] }}",
          "options": {
            "systemMessage": "Eres un asistente ling眉铆stico experto en mejorar transcripciones de audio.\n\nTu tarea consiste en:\n1. Corregir errores de ortograf铆a, puntuaci贸n y gram谩tica.\n2. Aclarar frases ambiguas o entrecortadas para que el texto sea fluido.\n3. Mantener el significado y tono original del hablante.\n4. Si el texto incluye frases en otro idioma, trad煤celas al espa帽ol respetando el contexto.\n5. No inventes informaci贸n ni cambies el sentido del mensaje.\n6. Devuelve 煤nicamente el texto limpio, sin comentarios adicionales."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3,
        "position": [
          880,
          16
        ],
        "id": "c331be66-79aa-4b76-94dd-cb667e3e2b24",
        "name": "Mejorar transcripci贸n"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          240,
          0
        ],
        "id": "b1b975ca-19f6-462e-a354-36b0dadb573f",
        "name": "Loop Over Items"
      }
    ],
    "connections": {
      "Primera interacci贸n": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Conexi贸n con Whisper.py": {
        "main": [
          [
            {
              "node": "Mejorar transcripci贸n",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Mejorar transcripci贸n",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Mejorar transcripci贸n": {
        "main": [
          [
            {
              "node": "Responder interacci贸n",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [],
          [
            {
              "node": "Conexi贸n con Whisper.py",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Kevin Quiroz",
    "name": "Version 8a3fffb1",
    "description": ""
  },
  "activeVersionId": "8a3fffb1-2171-417e-babc-1f458466424a",
  "connections": {
    "Primera interacci贸n": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conexi贸n con Whisper.py": {
      "main": [
        [
          {
            "node": "Mejorar transcripci贸n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Mejorar transcripci贸n",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Mejorar transcripci贸n": {
      "main": [
        [
          {
            "node": "Responder interacci贸n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Conexi贸n con Whisper.py",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-15T18:15:49.911Z",
  "id": "v0GixVEVkl0mIt1U",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Transcripci贸n con Whisper + OpenAI",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "Porfavor. Adjunta tu audio para transcribirlo ",
        "options": {
          "allowFileUploads": true,
          "allowedFilesMimeTypes": ".mp3, m4a, .wav, .ogg",
          "subtitle": "Estoy aqu铆 para ayudarte a realizar transcripci贸nes de audio ",
          "title": "Hola que tal! ",
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "40a2f264-e7c9-4f7e-87a9-fc5fd673e01e",
      "name": "Primera interacci贸n",
      "webhookId": "1ae1f24f-5bb0-4699-a059-c7afca7715cc"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://195.35.8.205:5000/transcribe",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "={{ Object.keys($binary)[0] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        656,
        16
      ],
      "id": "3c5d4ad4-3dfe-4afc-9fe3-289dfb03a125",
      "name": "Conexi贸n con Whisper.py"
    },
    {
      "parameters": {
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        1248,
        16
      ],
      "id": "9ac67f2e-baed-4c48-b3e4-9cc9b89a48c6",
      "name": "Responder interacci贸n"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        800,
        240
      ],
      "id": "a2b22a33-b18a-409c-96e5-50bcabaec8cf",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "OwpXfy2xZXTL4IFI",
          "name": "OpenAi account - soporte@valtmx.com"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json[\"text\"] }}",
        "options": {
          "systemMessage": "Eres un asistente ling眉铆stico experto en mejorar transcripciones de audio.\n\nTu tarea consiste en:\n1. Corregir errores de ortograf铆a, puntuaci贸n y gram谩tica.\n2. Aclarar frases ambiguas o entrecortadas para que el texto sea fluido.\n3. Mantener el significado y tono original del hablante.\n4. Si el texto incluye frases en otro idioma, trad煤celas al espa帽ol respetando el contexto.\n5. No inventes informaci贸n ni cambies el sentido del mensaje.\n6. Devuelve 煤nicamente el texto limpio, sin comentarios adicionales."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        880,
        16
      ],
      "id": "c331be66-79aa-4b76-94dd-cb667e3e2b24",
      "name": "Mejorar transcripci贸n"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        240,
        0
      ],
      "id": "b1b975ca-19f6-462e-a354-36b0dadb573f",
      "name": "Loop Over Items"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-12-15T18:15:49.915Z",
      "createdAt": "2025-12-15T18:15:49.915Z",
      "role": "workflow:owner",
      "workflowId": "v0GixVEVkl0mIt1U",
      "projectId": "K3qTwdhfsN7M0hmd"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2025-12-15T19:06:39.548Z",
      "createdAt": "2025-12-15T19:06:39.548Z",
      "id": "hr4LyOAFQsIqylpJ",
      "name": "terminal setup"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-12-15T19:06:47.218Z",
  "versionId": "8a3fffb1-2171-417e-babc-1f458466424a"
}